<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>matchbox app</name>
 
    <description>
        A new matchmaking app!
    </description>
 
    <author email="devanshtandon@gmail.com" href="http://matchboxmvp.herokuapp.com/">
        Devansh Tandon
    </author>
 
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <!-- tab bar plugin -->
    <gap:plugin name="com.mymee.cordova.plugins.ios-tab-bar" version="1.0.0" />
 
</widget>